In [ ]:
if True:
  print("What's up Data Nerds!")

What's up Data Nerds!

In [ ]:
if True:
print("What's up Data Nerds!")

IndentationError: expected an indented block after 'if' statement on line 1 (ipython-input-685757537.py, line 2)

In [ ]:
job_skill = "SQL"
applicant_skill = "SQL"

In [ ]:
if job_skill == applicant_skill:
  print("Skills Match!")

Skills Match!

In [ ]:
job_skill = "SQL"
applicant_skill = "Python"
years_experience = 6

if job_skill == applicant_skill:
  print("Skills Match!")
elif years_experience >= 5:
  print("Years of Experience Match!")

Years of Experience Match!

In [ ]:
job_skill = "SQL"
applicant_skill = "Python"
years_experience = 3

if job_skill == applicant_skill:
  print("Skills Match!")
elif years_experience >= 5:
  print("Years of Experience Match!")
else:
  print("No skill or experience")

No skill or experience

In [ ]:
job_skill = "SQL"
applicant_skill = "Python"
years_experience = 3

if job_skill == applicant_skill:
  print("Skills Match!")
elif years_experience >= 5:
  print("Years of Experience Match!")
elif applicant_skill == "Python"
  print("This applicant should know SQL")
else:
  print("No skill or experience")