In [ ]:
my_skills = ["Python", "SQL", "Excel"]

len(my_skills)

3

In [ ]:
count = 0

for skill in my_skills:
  count += 1

count

3

In [ ]:
# BUILT-IN FUNCTIONS

import types

# List of built-in functions
print([func for func in dir(__builtins__) if isinstance(getattr(__builtins__, func), types.BuiltinFunctionType)])

['__build_class__', '__import__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'breakpoint', 'callable', 'chr', 'compile', 'delattr', 'dir', 'divmod', 'eval', 'exec', 'format', 'getattr', 'globals', 'hasattr', 'hash', 'hex', 'id', 'isinstance', 'issubclass', 'iter', 'len', 'locals', 'max', 'min', 'next', 'oct', 'open', 'ord', 'pow', 'print', 'repr', 'round', 'setattr', 'sorted', 'sum', 'vars']

In [ ]:
data_salaries = [
    62000, 67500, 71000, 74000, 78000,
    82000, 86000, 90500, 94000, 97500,
    101000, 106000, 112000, 118000, 123000,
    128000, 133000, 138000, 144000, 149000
]

In [ ]:
print(min(data_salaries))
print(max(data_salaries))
print(sum(data_salaries))
print(sorted(data_salaries))
print(sorted(data_salaries, reverse=True))
# Statistics calculations such as MEAN and SD are not built-in functions

62000
149000
2054500
[62000, 67500, 71000, 74000, 78000, 82000, 86000, 90500, 94000, 97500, 101000, 106000, 112000, 118000, 123000, 128000, 133000, 138000, 144000, 149000]
[149000, 144000, 138000, 133000, 128000, 123000, 118000, 112000, 106000, 101000, 97500, 94000, 90500, 86000, 82000, 78000, 74000, 71000, 67500, 62000]

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
base_salary = 100_000
bonus_rate = .1

# total_salary = base_salary + (base_salary * bonus_rate)
total_salary = base_salary * (1 + bonus_rate)
total_salary

110000.00000000001

In [ ]:
def calculate_salary():
  base_salary = 100_000
  bonus_rate = .1
  total_salary = base_salary * (1 + bonus_rate)
  return total_salary

In [ ]:
calculate_salary()

110000.00000000001

In [ ]:
def calculate_salary(base_salary, bonus_rate):
  total_salary = base_salary * (1 + bonus_rate)
  return total_salary

In [ ]:
calculate_salary(base_salary, bonus_rate)

110000.00000000001

In [ ]:
calculate_salary(120_000, .25)

150000.0

In [ ]:
Numbers = [45, 63, 21, 90]
mean = sum(Numbers) / len(Numbers)
print(mean)

54.75

In [ ]:
def mean(numbers):
  return sum(numbers) / len(numbers)

In [ ]:
mean([45, 63, 21, 90])

54.75

In [ ]:
def calculate_salary(base_salary, bonus_rate = .1):
  total_salary = base_salary * (1 + bonus_rate)
  return total_salary

In [ ]:
calculate_salary(base_salary)

110000.00000000001

In [ ]:
calculate_salary(base_salary, .25)

125000.0