In [ ]:
import my_modules

ModuleNotFoundError: No module named 'my_modules'

In [ ]:
my_modules.skill_list

In [ ]:
my_modules.skill("Python")

In [ ]:
import job_analyzer

In [ ]:
job_analyzer.calculate_salary(100_000)

110000.00000000001

In [ ]:
from job_analyzer import calculate_salary

In [ ]:
calculate_salary(100_000)

110000.00000000001

In [ ]:
from job_analyzer import *

In [ ]:
calculate_bonus (110_000, 100_000)

0.1

In [ ]:
help(calculate_bonus)

Help on function calculate_bonus in module job_analyzer:

calculate_bonus(total_salary, base_salary)
    Calculates bonus rate from a given total salary and base salary

    Args:
      total_salary (float): the total salary
      base_salary (float): the base salary

    Returns:
      float: the bonus rate

In [ ]:
import statistics

In [ ]:
job_salaries = [80_000, 50_000, 60_000, 100_000]

In [ ]:
statistics.mean(job_salaries)

72500

In [ ]:
from statistics import mean, mode, median

In [ ]:
print(mean(job_salaries))
print(mode(job_salaries))
print(median(job_salaries))

72500
80000
70000.0