In [ ]:
#Create a list of 1,000,000 salaries ranging from 50,000 to 100,000
import random

salaries = [random.randint(50_000, 100_000) for salaries in range(10_000_000)]

In [ ]:
import statistics

In [ ]:
%%timeit

statistics.median(salaries)

5.63 s ± 576 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
import numpy as np

In [ ]:
%%timeit
np.median(salaries)

891 ms ± 216 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
my_array = np.array([1,2,3,4])

In [ ]:
# Job titles
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer', "AI Engineer"])

# Base salaries
base_salaries = np.array([60000, 80000, 75000, 90000, None])

# Bonus rates
bonus_rates = np.array([.05, .1, .08, .12, None])

In [ ]:
total_salaries = base_salaries * (1 + bonus_rates)
total_salaries

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [ ]:
type(None)

NoneType

In [ ]:
type(np.nan)

float

In [ ]:
# Job titles
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer', "AI Engineer"])

# Base salaries
base_salaries = np.array([60000, 80000, 75000, 90000, np.nan])

# Bonus rates
bonus_rates = np.array([.05, .1, .08, .12, np.nan])

total_salaries = base_salaries * (1 + bonus_rates)
print(total_salaries)
np.nanmean(total_salaries)

[ 63000.  88000.  81000. 100800.     nan]

np.float64(83200.0)