In [ ]:
print (2+2)
False|True

4

True

In [ ]:
# This is just a comment

This is normal text

# This is for headings (makes it bigger)

**bold**

1. two
2. one
3. three
This is a nice formatted ordered list

[Markdown guide](https://www.markdownguide.org/basic-syntax/)

*italicized text*

In [ ]:
!pwd

/content

In [ ]:
!ls

sample_data

In [ ]:
a = False
b = True
print(a,"y esto también ->",b)

False y esto también -> True

In [ ]:
%timeit [i**2 for i in range(1000)]

39.1 µs ± 913 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%timeit [i**2 for i in range(1000)]

40.2 µs ± 3 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%%timeit
L = []
for n in range(1000):
  L.append(n**2)

44 µs ± 670 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
print([i**2 for i in range(10)])
print("Colapinto ->", 43)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Colapinto -> 43

In [ ]:
L = []
for n in range(100):
  L.append(n**2)
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]