In [ ]:
salary = 100000 #to define a variable

In [ ]:
salary #by executing this Python will output the content of the variable

100000

In [ ]:
cl#Calculate the following: total_salary = (base_salary) * (1 + bonus_rate)
base_salary = 100000
bonus_rate = .10 #notice this is a "float" variable

In [ ]:
Total_salary = base_salary * (1+bonus_rate) #press tab to complete the suggested code
Total_salary

110000.00000000001

In [ ]:
type(Total_salary) #to check the type of the variable

float

In [ ]:
company_name = 'DataWiz Inc.' #to assign text
company_name

'DataWiz Inc.'

In [ ]:
job_wfh = True #to assign boolean values

In [ ]:
job_wfh

True

In [ ]:
#Let's define more variables
job_id = 101
job_title = 'Data Analyst'
job_salary = 125000

In [ ]:
#To print description test and values of the variables defined
print('Data job description')
print("++++++++++++++++++++")
print("Job ID:       ", job_id) #here I am printing the text job ID + the value of job_id
print("Company name: ", company_name)
print("Job Title:    ", job_title)
print("Salary:       ", job_salary)
print("WFH:          ", job_wfh)

Data job description
++++++++++++++++++++
Job ID:        101
Company name:  DataWiz Inc.
Job Title:     Data Analyst
Salary:        125000
WFH:           True

In [ ]:
List = []
List.append(type(job_wfh))
List.append(type(company_name))
List

[bool, str]