In [1]:
# Importing libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [4]:
df.loc[0:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [10]:
median_salary_year = df['salary_year_avg'].median() # Calculates the median DOES NOT COUNT NAN VALUES BY DEFAULT!!

In [11]:
median_salary_hour = df['salary_hour_avg'].median()

In [ ]:
# It is good practice to create a NEW DF whenever you make modifications on it
df_filled = df

In [12]:
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)

In [14]:
df_filled['salary_year_avg'].head(10)

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
6    115000.0
7    115000.0
8    115000.0
9    115000.0
Name: salary_year_avg, dtype: float64

In [15]:
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)
df_filled['salary_hour_avg'].head(10)

0    45.98
1    45.98
2    45.98
3    45.98
4    45.98
5    45.98
6    45.98
7    45.98
8    45.98
9    45.98
Name: salary_hour_avg, dtype: float64

In [16]:
df_unique = df_filled

In [18]:
df_unique = df_unique.drop_duplicates()

print('Length of original df:          ', len(df_filled))
print('Length of drop duplicates df:   ', len(df_unique))
print('Rows Dropped:                   ', len(df_filled)-len(df_unique))

Length of original df:           785741
Length of drop duplicates df:    785640
Rows Dropped:                    101

In [19]:
df_unique = df_unique.drop_duplicates(subset=['job_title','company_name'])

print('Length of original df:          ', len(df_filled))
print('Length of drop duplicates df:   ', len(df_unique))
print('Rows Dropped:                   ', len(df_filled)-len(df_unique))

Length of original df:           785741
Length of drop duplicates df:    508042
Rows Dropped:                    277699

In [21]:
df_filled['salary_year_avg']

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64

In [22]:
df['salary_year_avg']

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64